body {
    font-family: 'Roboto', sans-serif;
    padding-top: 20px; /* Verschiebt alles ein Stück nach unten */
}

.title {
    text-align: center;
    text-decoration: underline;
    font-size: 24px; /* Größe des Titels */
    margin-bottom: 20px; /* Abstand unter dem Titel */
}

.container {
    width: 300px;
    margin: auto;
    padding: 20px;
}

label, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}
